.sreen-header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 85%;
  box-sizing: border-box;
  background-color: white;
}

.sreen-header__title {
  font-size: 32px;
  font-weight: 600;
  margin-left: -30px;
}

.sreen-header__icons span {
  margin-left: 25px;
}

@keyframes lotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.sreen-header__icons .fa-cog:hover {
  animation: lotatecog 1.5s linear infinite;
}
