.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  padding-bottom: 30px;
  position: fixed;
  top: 0%;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
.status-bar__clumn {
  width: 33%;
}

.status-bar :first-child span {
  margin-right: 5px;
}
.status-bar__clumn:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__clumn:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__clumn .fa-battery-full {
  margin: 0px 5px;
}

#status-bar-chat {
  background-color: #abc1d0;
}
